@import "../../Helpers/variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  max-width: 1136px;
  margin: 0 auto;
  background: #FFFFFF;
  padding: 16px 16px 56px;
}

.heading__primary {
  font-weight: 800;
  font-size: 22px;
  line-height: 140%;
  color: #313237;
}

.heading__secondary {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #313237;
  border-bottom: 1px solid #E2E6E9;
  padding-bottom: 16px;
}

.heading__tertiary {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #313237;
  padding-bottom: 16px;
  padding-top: 32px;
}

.section__hero {
  padding: 39px 0 56px;
}

.section__hero--phone-top {
  text-align: center;
}

.section__hero--phone-top img {
  width: 275px;
  height: 275px;
}

.section__hero--phone-bottom {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 8px;
}

.phone__image {
  width: 51px;
  height: 49px;
  border: 1px solid #e2e6e9;
  padding: 4.9px;
  text-align: center;
}

.phone__image:nth-child(3),
.phone__image:nth-child(5) {
  padding-bottom: 0;
}

.phone__image img {
  width: 100%;
  height: auto;
}

.phone__image:nth-child(2) img {
  width: auto;
  height: 40px;
}

.phone__image:nth-child(3) img,
.phone__image:nth-child(5) img {
  height: 100%;
}

.section__hero--details {
  padding-top: 44px;
}

.generic {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.colors--p {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #89939A;
  padding-bottom: 8px
}

.colors__btns {
  display: flex;
  gap: 9px;
  padding-left: 4px;
}

.colors__btn {
  position: relative;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 100%;
}

.colors__btn::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #e2e6e9;
}

.colors__btn--1 {
  background: #FCDBC1;
}

.colors__btn--2 {
  background: #5F7170;
}

.colors__btn--3 {
  background: #4C4C4C;
}

.colors__btn--4 {
  background: #F0F0F0;
}

.colors__btn--active {
  position: relative;
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 100%;
}

.colors__btn--active::before {
  width: 32px;
  height: 32px;
  border: 1px solid #313237;
}

.id--p {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #B4BDC4;
}

.capacity {
  padding: 24px 0 24px;
  border-top: 1px solid #E2E6E9;
  border-bottom: 1px solid #E2E6E9;
}

.capacity--p {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  padding-bottom: 8px;
  color: #89939A;
}

.capacity__btns {
  display: flex;
  gap: 8px;
}

.capacity__btn {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #313237;
  padding: 7px 8px 4px;
  border: 1px solid #B4BDC4;
  background-color: transparent;
}

.capacity__btn--active {
  color: #FFFFFF;
  background: #313237;
}

.price {
  padding: 32px 0;
}

.price--discount {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
  color: #313237;
  padding-bottom: 16px;
}

.price--original {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-decoration-line: line-through;
  color: #89939A;
}

.price__btns {
  display: flex;
  justify-content: space-between;
  max-width: 288px;
}

.price__btn {
  background-color: transparent;
  border: 0;
}

.price__btn--buy {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background: #313237;
  padding: 13.5px 5px;
  min-width: 231px;
}

.price__btn--save {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid #B4BDC4;
}

.price__btn img {
  display: block;
}

.parameter {
  display: flex;
  justify-content: space-between;
}

.parameters {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.parameter--p-sm {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
}

.parameter--p-md {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.parameter--p-light {
  color: #89939A;
}

.parameter--p-dark {
  color: #313237;
}

.about--p {
  font-size: 14px;
  line-height: 21px;
  color: #89939A;
}

.tech {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding-top: 56px;
}

.tech .parameters {
  margin-top: 30px;
}

@media screen and (min-width: 640px) {
  .main {
    padding: 16px 24px 64px;
  }

  .heading__primary {
    font-size: 32px;
    line-height: 41px;
  }

  .heading__secondary {
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
  }

  .heading__tertiary {
    font-size: 20px;
    line-height: 26px;
  }

  .section__hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 46px 0 46px;
  }

  .section__hero--phone {
    display: flex;
    flex-direction: row-reverse;
    gap: 23px;
    margin-top: 0;
  }

  .section__hero--phone-top img {
    height: auto;
    width: 43vw;
    max-width: 442px;
  }

  .section__hero--phone-top {
    padding-top: 8px;
  }

  .section__hero--phone-bottom {
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    padding: 0;
  }

  .phone__image {
    width: 6.7vw;
    height: 6.7vw;
    max-width: 80px;
    max-height: 80px;
  }

  .section__hero--details {
    width: 37.1vw;
    max-width: 512px;
    padding: 0;
  }

  .generic {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
  }

  .section__hero--details .parameters .capacity {
    max-width: 320px;
  }

  .capacity {
    max-width: 320px;
  }

  .price__btns {
    display: flex;
    max-width: 320px;
  }

  .price__btn--buy {
    min-width: 180px;
    width: 28vw;
    max-width: 263px;
  }

  .tech {
    padding-top: 48px;
  }

  .tech .parameters {
    margin-top: 25px;
  }
}

@media screen and (min-width: 768px) {
  .section__hero {
    padding: 40px 0 81px;
  }

  .section__hero--phone-bottom {
    gap: 17px;
  }

  .section__description {
    display: flex;
    gap: 64px;
  }

  .tech {
    min-width: 45%;
    max-width: 512px;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section__hero--details {
    min-width: 512px;
  }

  .tech {
    min-width: 512px;
  }
}