@import "../../Helpers/mixins";

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.products {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    justify-content: center;
    
    @include for-tablet() {
        flex-wrap: wrap;
        flex-direction: row;
    }

    @include for-desktop() {
        display: grid;
        max-width: 1200px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
    
.products .phone {
    margin-bottom: 40px;

    @include for-tablet() {
        margin-right: 16px;
    }
}