@import "../../Helpers/variables";

.cart-finalization {
  border: 1px solid $color-grey-elements;
  padding: 16px;
  text-align: center;
  align-self: flex-start;
  display: grid;

  &__value {
    color: $color-grey;
    font-size: 32px;
    font-weight: 800;
  }

  &__total {
    color: $color-light-grey;
    font-weight: 300;
    padding-bottom: 16px;
    border-bottom: 1px solid $color-grey-elements;
  }

  &__btn {
    margin-top: 16px;
    padding: 14px;
    font-size: 14px;
    color: white;
    background: $color-grey;
    border: none;
  }
}